@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(48, 117, 131);
    background: radial-gradient(circle at 80% center, rgba(46, 91, 101, 1) 0%, rgba(13, 20, 28, 1) 62%);
}

.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    gap: 91px;
    position: relative;
    padding-bottom: 5px;
}

.navbar::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #117701, #4ADC81);
    background-size: 200% 100%;
    animation: color-change 4s linear infinite;
}

@keyframes color-change {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: -100% 50%; 
    }
}

.navbar-textos {
    gap: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-textos p {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    font-family: 'Goldman', sans-serif;
    cursor: pointer;
    color: #FFF;
}

.navbar-textos p:hover {
    color: #4ADC81;
}

.texto-login {
    margin-top: 2.9vh;
    margin-right: 9.6vw;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 47px;
}

.login p {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
}

.pergunta-conta button {
    background-color: transparent;
    border: #4ADC7C 1.5px solid;
    width: 170px;
    height: 42px;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #4ADC7C;
    align-items: center;
    font-weight: 700;
}

.pergunta-conta button:hover {
    background-color: #4ADC7C;
    color: #FFF;
    cursor: pointer;
}

.pergunta-conta {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #AAF8AD;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.antecipe-ataques {
    font-family: 'Goldman';
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    color: #FFF;
    margin-top: 8.25vh;
    margin-left: 9.6vw;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 17vh;
    color: #FFF;
    gap: 70px;
    align-items: center;
}

.fileira1-card {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.fileira2-card {
    display: flex;
    justify-content: start;
    width: 95%;
}

.cards .cards-1F {
    height: 513px;
    width: 416px;
    background-color: #151D26;
    border-radius: 40px;
    padding-top: 35px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cards-1F:hover{
    border: #fff 2px solid;
    transform: scale(1.05);
    transition: all 0.5s;
}

.titulo-1F{
    font-family: 'Goldman';
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    color: #fff;
}

.paragrafo-1F{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #AAF8AD;
}

.botoes {
    display: flex;
    justify-content: space-between;
}

.botoes-1F {
    height: 42px;
    width: 100%;
    max-width: 170px;
    background-color: transparent;
    border: #4ADC7C 1px solid;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    align-items: center;
    color: #4ADC7C;
    border-radius: 10px;
}

.botoes-1F:hover {
    background-color: #4ADC7C;
    color: #FFF;
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #14272B;
    color: #FFF;
    font-family: 'Goldman';
    font-weight: 400;
    font-size: 16px;
    margin-top: 100px;
}