.menu-lateral {
    background-color: #15202e;
    width: 5vw;
    border-right: #117701 4px solid;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    justify-content: space-around;
    position: relative;

}

.menu-lateral>span {
    color: white;
    font-size: 40px;
    cursor: pointer;
}