.menu-lateral {
    width: 5vw;
    height: 100vh;
    background-color: #26344a;
    color: black;
    display: flex;
    flex-direction: column;
    border-right: #189704 2px solid;
    padding-top: 10px;
    transition: width 0.3s;
    overflow: hidden;
    user-select: none;
}

.menu-lateral.expanded {
    width: 250px;
}

.material-symbols-outlined {
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 23px;
    transition: padding-left 0.3s;
    cursor: pointer;
    transition: 0.4s;
    color: aliceblue;
}

.material-symbols-outlined:hover {
    color: #189704;
    transition: 0.4s;
}

.menu-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 140px;
    white-space: nowrap;
}

.menu-item span.text {
    margin-left: 15px;
    font-size: 20px;
    display: none;
    cursor: pointer;
    transition: 0.4s;
    color: aliceblue;
}

.menu-item span.text:hover {
    color: #189704;
}

.menu-lateral.expanded .menu-item span.text {
    display: inline;
}