@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.meu-botao {
    border: 2px solid #4ADC7C;
    color: #4ADC7C;
    font-family: "Goldman";
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-self: center;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 300px;
    margin-left: 100px;
}

.crud {
    margin-left: 35px;
    width: 90%;
    height: 600px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: rgb(189, 189, 189);
}

.form-crud material-symbols-outlined:hover{
    color: #21d106;
}

.texts-crud{
    display: flex;
    justify-content: center;
}

.texts-crud h2{
    font-size: 20px;
}

.container-crud{
    display: flex;
    gap: 90px;
    padding-left: 50px;
}

.container-crud p{
    text-align: center;
    width: 110px;
}

.crud .material-symbols-outlined{
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;
}

.form-crud {
    display: flex;
    margin-top: 20px;
    padding-left: 50px;
}

.form-crud input {
    padding: 5px;
    font-size: 16px;
}

.form-crud button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}