body {
    font-family: Arial, sans-serif;
    background-color: #1f2a3c;
    color: #1f2a3c;
    margin: 0;
    overflow: hidden;
}

.titulo h3{
    width: 40%;
    height: 10%;
    position: absolute;
    left: 33%;
    top: 1%;
    color: #4ADC7C;
}

.chamado {
    max-width: 1000px;
    width: 80%;
    position: absolute;
    margin-top: 1%;
    top: 70px;
    left: 52%;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 550px;
}

.chamado::-webkit-scrollbar {
    width: 12px; 
}

.chamado::-webkit-scrollbar-thumb {
    background-color: #20d55f;
    border-radius: 5px; 
    border: 3px solid #000; 
}

.chamado::-webkit-scrollbar-track {
    background-color: #f6f6f6; 
    border-radius: 2px;
}

.chamado::-webkit-scrollbar-thumb:hover {
    background-color: #189704;
}

.chamado-item { 
    word-wrap: break-word;
    padding-left: 50%;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f6f6f6;
}

.chamado-item p {
    margin: 8px 0;
}

.chamado-item p strong {
    color: #333;
    font-weight: bold;
}

.chamado-item button {
    background-color: #e74c3c;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.chamado-item button:hover {
    background-color: #c0392b;
}

h3 {
    text-align: center;
    color: azure;
    font-size: 30px;
}

h1 {
    text-align: center;
    color: #555;
    margin-top: 20px;
}

@media (max-width: 600px) {
    #chamado-list {
        padding: 15px;
    }
    
    .chamado-item {
        padding: 10px;
    }

    .chamado-item button {
        padding: 6px 10px;
        font-size: 12px;
    }
}
