@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(48, 117, 131);
    background: radial-gradient(circle at 80% center, rgba(46, 91, 101, 1) 0%, rgba(13, 20, 28, 1) 62%);
    font-family: "Roboto", sans-serif;
    color: #ffffff;
}

.material-symbols-outlined {
    background: none;
    color: #4ADC7C;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    padding-left: 30px;
    padding-top: 30px;
    transition: 0.4s;
}

.material-symbols-outlined:hover {
    transition: 0.4s;
    color: aliceblue;
}

.section-initial-texts {
    text-align: center;
}

.section-initial-texts h1 {
    color: white;
    font-size: 90px;
    font-family: "Goldman";
    font-weight: 100;
}

.section-initial-texts p {
    padding-left: 40px;
    color: #AAF8AD;
    letter-spacing: 40px;
    font-size: 35px;
    font-weight: 100;
    font-family: "Goldman";
}

.section-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
    margin: 100px;
}

.cadastro {
    width: 400px;
    height: 650px;
    background-color: #151D26;
    color: #4ADC7C;
    font-family: "Goldman";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#texto-cadastro {
    display: flex;
    font-size: 30px;
    letter-spacing: 10px;
    margin-bottom: 30px;
    font-weight: 400;
    justify-content: center;
    margin-left: 3%;
}

.cadastro-fields {
    width: 100%;
    /* height: 100%; */
    margin-bottom: 20px;
    position: relative;
}

.cadastro-fields p {
    display: flex;
    align-items: start;
    /* width: 100%; */
    /* height: 100%; */
    margin-bottom: 20px;
    position: relative;
}

.field-group {
    position: relative;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.field-group input {
    width: 70%;
    padding: 15px;
    background: none;
    border: none;
    border-bottom: 2px solid #4ADC7C;
    color: #AAF8AD;
    font-family: "Roboto";
    font-size: 16px;
    outline: none;
}

.field-group p {
    margin-right: 55%;
    margin-bottom: -3%;
    align-items: center;
}

#labelCpf {
    margin-left: -3%;
}

#labelNome {
    margin-left: -1%;
}

#labelEmail {
    margin-left: -1%;
}

#labelSenha {
    margin-left: 2%;
}

.passwd-confirm {
    margin-left: 87%;
    width: 100%;
}

.field-group label {
    position: absolute;
    top: 15px;
    left: 0;
    color: #4ADC7C;
    font-family: "Roboto";
    font-size: 16px;
    transition: all 0.3s ease;
    pointer-events: none;
}

.buttons-field {
    width: 100%;
}

.buttons-field button {
    width: 70%;
    margin-left: 15%;
    padding: 15px;
    background-color: #151D26;
    border: 2px solid #4ADC7C;
    color: #4ADC7C;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Goldman";
    margin-bottom: 10px;
    transition: 0.4s;
}

.buttons-field button:hover {
    background-color: #AAF8AD;
    color: #151D26;
}

.buttons-field a {
    display: block;
    text-align: center;
    color: #4ADC7C;
    text-decoration: none;
    font-weight: 400;
    transition: 0.4s;
    font-size: 14px;
}

.buttons-field a:hover {
    color: aliceblue;
    text-decoration: underline;
}

.circulo {
    width: 50%;
    z-index: -20;
    animation: circulo 1s infinite;
    position: absolute;
    margin-top: -34%;
    margin-left: -87%;
}

@keyframes circulo {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


@media screen and (max-width: 900px) {
    
    body {
        background: rgb(48, 117, 131);
        background: radial-gradient(circle at 80% center, rgba(46, 91, 101, 1) 0%, rgba(13, 20, 28, 1) 62%);
        font-family: "Roboto", sans-serif;
        color: #ffffff;
        height: 900px;
    }
    
    .material-symbols-outlined {
        background: none;
        color: #4ADC7C;
        border: none;
        cursor: pointer;
        height: 50px;
        width: 50px;
        padding-left: 30px;
        padding-top: 30px;
        transition: 0.4s;
    }
    
    .material-symbols-outlined:hover {
        transition: 0.4s;
        color: aliceblue;
    }
    
    .section-initial-texts {
        text-align: center;
    }
    
    .section-initial-texts h1 {
        color: white;
        font-size: 50px;
        font-family: "Goldman";
        font-weight: 100;
    }
    
    .section-initial-texts p {
        padding-left: 0px;
        color: #AAF8AD;
        letter-spacing: 20px;
        font-size: 20px;
        font-weight: 100;
        font-family: "Goldman";
    }
    
    .section-cadastro {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 200px);
        margin: 0px;
    }
    
    .cadastro {
        width: 450px;
        height: 650px;
        background-color: #151D26;
        color: #4ADC7C;
        font-family: "Goldman";
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        /* margin-top: 10px; */
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    
    .principal-cadastro {
        font-size: 30px;
        letter-spacing: 10px;
        margin-bottom: 30px;
        font-weight: 400;
    }
    
    .cadastro-fields {
        width: 100%;
        /* height: 100%; */
        margin-bottom: 20px;
    }
    
    .field-group {
        position: relative;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .field-group input {
        width: 70%;
        padding: 15px;
        background: none;
        border: none;
        border-bottom: 2px solid #4ADC7C;
        color: #AAF8AD;
        font-family: "Roboto";
        font-size: 16px;
        outline: none;
    }
    
    .field-group p{
        margin-right: 55%;
        margin-bottom: -3%;
        align-items: center;
    }
    
    #labelCpf {
        margin-left: -3%;
    }
    
    #labelNome {
        margin-left: -1%;
    }
    
    #labelEmail {
        margin-left: -1%;
    }
    
    #labelSenha {
        margin-left: 3%;
    }
    
    .passwd-confirm{
        margin-left: 87%;
        width: 100%;
    }
    
    .field-group label {
        position: absolute;
        top: 15px;
        left: 0;
        color: #4ADC7C;
        font-family: "Roboto";
        font-size: 16px;
        transition: all 0.3s ease;
        pointer-events: none;
    }
    
    .buttons-field {
        width: 100%;
    }
    
    .buttons-field button {
        width: 70%;
        margin-left: 55px;
        padding: 15px;
        background-color: #151D26;
        border: 2px solid #4ADC7C;
        color: #4ADC7C;
        border-radius: 5px;
        cursor: pointer;
        font-family: "Goldman";
        margin-bottom: 10px;
        transition: 0.4s;
    }
    
    .buttons-field button:hover {
        background-color: #AAF8AD;
        color: #151D26;
    }
    
    .buttons-field a {
        display: block;
        text-align: center;
        color: #4ADC7C;
        text-decoration: none;
        font-weight: 400;
        transition: 0.4s;
        font-size: 14px;
    }
    
    .buttons-field a:hover {
        color: aliceblue;
        text-decoration: underline;
    }
    
    .circulo {
        width: 50%;
        z-index: -20;
        animation: circulo 1s infinite;
        position: absolute;
        margin-top: -44%;
        margin-left: -95%;
    }
    
    @keyframes circulo {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
    }




#labelNomeEmpresa {
    margin-left: 115px;
    width: 170px;
}

#labelEmailEmpresa {
    margin-left: 115px;
    width: 170px;
}

#labelTelefone {
    margin-left: 115px;
    width: 170px;
}

#labelCep {
    margin-right: 209px;
}

@media screen and (max-width: 700px) {

    .section-initial-texts h1 {
        color: white;
        font-size: 40px;
        font-family: "Goldman";
        margin-top: 10px;
        font-weight: 100;
    }

    .section-initial-texts p {
        padding-left: 40px;
        color: #AAF8AD;
        letter-spacing: 15px;
        font-size: 15px;
        font-weight: 100;
        font-family: "Goldman";
    }

    .circulo {
        width: 180%;
        z-index: -20;
        animation: circulo 1s infinite;
        position: absolute;
        margin-top: -120%;
        margin-left: -190%;
    }

    .cadastro {
        width: 100%;
        height: 570px;
        background-color: #151D26;
        color: #4ADC7C;
        font-family: "Goldman";
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        padding: 50px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        /* margin-bottom: 100px; */
    }

    .buttons-field button:hover {
        background-color: #151D26;
        border: 2px solid #4ADC7C;
        color: #4ADC7C;
    }

    .section-cadastro {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 200px);
        margin: 20px;
    }

    .principal-cadastro {
        font-size: 30px;
        letter-spacing: 10px;
        margin-bottom: 30px;
        font-weight: 400;
    }


    .field-groupE {
        position: relative;
        display: flex;
        margin-bottom: 5%;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .field-groupE input {
        width: 95%;
        padding: 15px;
        background: none;
        border: none;
        border-bottom: 2px solid #4ADC7C;
        color: #AAF8AD;
        font-family: "Roboto";
        font-size: 16px;
        outline: none;
    }

    .field-groupE p {
        display: flex;
        align-items: start;
    }

    .field-groupE label {
        position: absolute;
        top: 15px;
        left: 0;
        color: #4ADC7C;
        font-family: "Roboto";
        font-size: 16px;
        transition: all 0.3s ease;
        pointer-events: none;
    }

    .cadastro-empresa-fields {
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #labelNomeEmpresa {
        margin-left: 0px;
        width: 170px;
    }

    #labelEmailEmpresa {
        margin-left: 0px;
        width: 170px;
    }

    #labelTelefone {
        margin-left: 0px;
        width: 170px;
    }

    #labelCep {
        margin-right: 0px;
    }

    #labelNome {
        margin-left: 3%;
    }
    
    #labelEmail {
        margin-left: 3%;
    }
    
    #labelSenha {
        margin-left: 10%;
    }
    
    .passwd-confirm {
        margin-left: 86%;
        width: 100%;
    }

    #labelCpf {
        margin-left: 0%;
    }
}