body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background-color: #1f2a3c;
    color: white;
    font-size: 18px;
}

h2 {
    color: #4ADC7C;
}

.menu-lateral {
    width: 5vw;
    height: 100vh;
    background-color: #15202e;
    color: white;
    display: flex;
    flex-direction: column;

    padding-top: 10px;
    transition: width 0.3s;
    overflow: hidden;
}

.menu-lateral.expanded {
    width: 250px;
}

.material-symbols-outlined {
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 23px;
    transition: padding-left 0.3s;
    cursor: pointer;
    transition: 0.4s;

}

.material-symbols-outlined:hover {
    color: #189704;
    transition: 0.4s;
}

.menu-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 140px;
    white-space: nowrap;
}

.menu-item span.text {
    margin-left: 15px;
    font-size: 20px;
    display: none;
    cursor: pointer;
    transition: 0.4s;
}

.menu-item span.text:hover {
    color: #1ac600;
}

.menu-lateral.expanded .menu-item span.text {
    display: inline;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-self: center;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 300px;
    margin-left: 100px;
}

/* .infos-nome {
    display: flex;
    width: 100%;
    margin-left: 20px;
    padding-left: 3%;
    color: #4ADC7C;
    font-size: 22px;
    font-family: "Goldman";
} */

.crud {
    margin-left: 300px;
    width: 600px;
    height: 500px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: rgb(233, 233, 233);
    color: #000;
    font-size: 24px;
}

.form-crud material-symbols-outlined:hover{
    color: #21d106;
}

.texts-crud{
    display: flex;
    justify-content: center;
}

.texts-crud h2{
    font-size: 20px;
}

.container-crud{
    display: flex;
    gap: 90px;
    padding-left: 50px;
}

.container-crud p{
    text-align: center;
    width: 110px;
}

.crud .material-symbols-outlined{
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;
}

.form-crud {
    display: flex;
    margin-top: 20px;
    padding-left: 50px;
}

.form-crud input {
    padding: 5px;
    font-size: 16px;
}

.form-crud button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}