@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Desktop */
body {
    background: rgb(48, 117, 131);
    background: radial-gradient(circle at 80% center, rgba(46, 91, 101, 1) 0%, rgba(13, 20, 28, 1) 62%);
}

.material-symbols-outlined {
    background: none;
    color: #4ADC7C;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    padding-left: 30px;
    padding-top: 30px;
    transition: 0.4s;
}

.material-symbols-outlined:hover{
    transition: 0.4s;
    color: aliceblue;
}

.section-initial-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.section-initial-texts h1{
    color: white;
    font-size: 90px;
    font-family: "Goldman";
    font-weight: 100;
}

.section-initial-texts p{
    padding-left: 40px;
    color: #AAF8AD;
    letter-spacing: 40px;
    font-size: 35px;
    font-weight: 100;
    font-family: "Goldman";
}

.section-login{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.login{
    width: 25%;
    height: 100%;
    background-color: #151D26;
    color: #4ADC7C;
    font-family: "Goldman";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.principal-login{
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 30px;
    letter-spacing: 15px;
    font-weight: 100;
}

.login-fields{
    text-align: center;
    margin-bottom: 60px;
    margin-top: 20px;
}

.login-fields p{
    margin-right: 180px;
    font-family: "Goldman";
    font-size: 20px;
}

.login input{
    height: 50px;
    width: 250px;
    margin-bottom: 20px;
    background: none;
    border: none;
    border-bottom: #4ADC7C solid;
    color: #AAF8AD;

    padding: 15px;
    font-family: "Roboto";
    font-size: 16px;
    outline: none;
}

.buttons-field{
    height: 100px;
    display: flex;
    flex-direction: column;
}

.buttons-field button{
    background-color: #151D26;
    border: 2px solid #4ADC7C;
    color: #4ADC7C;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    font-family: "Goldman";
    margin-bottom: 10px;
    transition: 0.4s;
}

.buttons-field button:hover{
    background-color: #AAF8AD;
    transition: 0.4s;
    color: #151D26;
}

.buttons-field a{
    text-decoration: none;
    color: #4ADC7C;
    font-weight: 100;
    transition: 0.4s;
}

.buttons-field a:hover{
    color: aliceblue;
    transition: 0.4s;
    text-decoration: underline;
}
.circulo {
    width: 50%;
    z-index: -20;
    animation: circulo 1s infinite;
    position: absolute;
    margin-top: -44%;
    margin-left: -75%;
}

@keyframes circulo {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


@media screen and (max-width: 900px) {
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        background: rgb(48, 117, 131);
        background: radial-gradient(circle at 80% center, rgba(46, 91, 101, 1) 0%, rgba(13, 20, 28, 1) 62%);
        font-family: "Roboto", sans-serif;
        color: #ffffff;
        /* height: 900px; */
    }

    .section-initial-texts h1 {
        color: white;
        font-size: 50px;
        font-family: "Goldman";
        margin-top: 10px;
        font-weight: 100;
    }
    
    .section-initial-texts p {
        padding-left: 40px;
        color: #AAF8AD;
        letter-spacing: 15px;
        font-size: 20px;
        font-weight: 100;
        font-family: "Goldman";
    }

    .login{
        width: 450px;
        height: 650px;
        background-color: #151D26;
        color: #4ADC7C;
        font-family: "Goldman";
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
        
        .material-symbols-outlined {
            background: none;
            color: #4ADC7C;
            border: none;
            cursor: pointer;
            height: 50px;
            width: 50px;
            padding-left: 30px;
            padding-top: 30px;
            transition: 0.4s;
        }
        
        .material-symbols-outlined:hover{
            transition: 0.4s;
            color: aliceblue;
        }
                
        .section-login{
            width: 100%;
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            margin-bottom: 100px;
        }
        
        .principal-login{
            padding-top: 50px;
            padding-bottom: 30px;
            font-size: 30px;
            letter-spacing: 15px;
            font-weight: 100;
        }
        
        .login-fields{
            text-align: center;
            margin-bottom: 60px;
            margin-top: 20px;
        }
        
        .login-fields p{
            margin-right: 180px;
            font-family: "Goldman";
            font-size: 20px;
        }
        
         .login input{
            height: 50px;
            width: 250px;
            margin-bottom: 20px;
            background: none;
            border: none;
            border-bottom: #4ADC7C solid;
            color: #AAF8AD;
            padding: 15px;
            font-family: "Roboto";
            font-size: 16px;
            outline: none;
        } 
        
        .buttons-field{
            height: 100px;
            display: flex;
            flex-direction: column;
        }
        
        .buttons-field button{
            background-color: #151D26;
            border: 2px solid #4ADC7C;
            color: #4ADC7C;
            border-radius: 5px;
            height: 40px;
            cursor: pointer;
            font-family: "Goldman";
            margin-bottom: 10px;
            transition: 0.4s;
        }
        
        .buttons-field button:hover{
            background-color: #AAF8AD;
            transition: 0.4s;
            color: #151D26;
        }
        
        .buttons-field a{
            text-decoration: none;
            color: #4ADC7C;
            font-weight: 100;
            transition: 0.4s;
        }
        
        .buttons-field a:hover{
            color: aliceblue;
            transition: 0.4s;
            text-decoration: underline;
        }
    }



@media screen and (max-width: 700px) {
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        background: rgb(48, 117, 131);
        background: radial-gradient(circle at 80% center, rgba(46, 91, 101, 1) 0%, rgba(13, 20, 28, 1) 62%);
        font-family: "Roboto", sans-serif;
        color: #ffffff;
        height: 700px;
    }

    .section-initial-texts h1 {
        color: white;
        font-size: 40px;
        font-family: "Goldman";
        margin-top: 10px;
        font-weight: 100;
    }
    
    .section-initial-texts p {
        padding-left: 40px;
        color: #AAF8AD;
        letter-spacing: 15px;
        font-size: 15px;
        font-weight: 100;
        font-family: "Goldman";
    }

    .login{
        width: 90%;
        height: 100%;
        background-color: #151D26;
        color: #4ADC7C;
        font-family: "Goldman";
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
        
        .material-symbols-outlined {
            background: none;
            color: #4ADC7C;
            border: none;
            cursor: pointer;
            height: 50px;
            width: 50px;
            padding-left: 30px;
            padding-top: 30px;
            transition: 0.4s;
        }
        
        .material-symbols-outlined:hover{
            transition: 0.4s;
            color: aliceblue;
        }
                
        .section-login{
            width: 100%;
            height: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            margin-bottom: 100px;
        }
        
        .principal-login{
            padding-top: 50px;
            padding-bottom: 30px;
            font-size: 30px;
            letter-spacing: 15px;
            font-weight: 100;
        }
        
        .login-fields{
            text-align: center;
            margin-bottom: 60px;
            margin-top: 20px;
        }
        
        .login-fields p{
            margin-right: 180px;
            font-family: "Goldman";
            font-size: 20px;
        }
        
         .login input{
            height: 50px;
            width: 250px;
            margin-bottom: 20px;
            background: none;
            border: none;
            border-bottom: #4ADC7C solid;
            color: #AAF8AD;
            padding: 15px;
            font-family: "Roboto";
            font-size: 16px;
            outline: none;
        } 
        
        .buttons-field{
            height: 100px;
            display: flex;
            flex-direction: column;
        }
        
        .buttons-field button{
            background-color: #151D26;
            border: 2px solid #4ADC7C;
            color: #4ADC7C;
            border-radius: 5px;
            height: 40px;
            cursor: pointer;
            font-family: "Goldman";
            margin-bottom: 10px;
            transition: 0.4s;
        }
        
        .buttons-field button:hover{
            background-color: #AAF8AD;
            transition: 0.4s;
            color: #151D26;
        }
        
        .buttons-field a{
            text-decoration: none;
            color: #4ADC7C;
            font-weight: 100;
            transition: 0.4s;
        }
        
        .buttons-field a:hover{
            color: aliceblue;
            transition: 0.4s;
            text-decoration: underline;
        }
    }

