@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Nerko+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Desktop */
body {
    background: rgb(48, 117, 131);
    background: radial-gradient(circle at 80% center, rgba(46, 91, 101, 1) 0%, rgba(13, 20, 28, 1) 62%);
}

.navbar {
    margin-top: 1%;
    padding-bottom: 1%;
    object-fit: fill;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative
}

.navbar::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #117701, #4ADC81);
    background-size: 200% 100%;
    animation: color-change 4s linear infinite;
}

.navbar img {
    width: 40px;
    height: 40px;
    margin-left: 3.6vw;
    margin-top: 0.3%;
}

@keyframes color-change {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: -100% 50%;
    }
}

.texto-login {
    /* margin-top: 2.9vh; */
    margin-right: 4.0vw;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: end;
    gap: 47px;
}


.login p {
    font-size: 16px;
    line-height: 50px;
    font-family: 'Goldman';
    color: #FFF;
}


.pergunta-conta button{
    background-color: transparent;
    border: 2px solid #4ADC7C;
    color: #4ADC7C;
    border-radius: 5px;
    height: 44.8px;
    width: 130px;
    cursor: pointer;
    font-family: "Goldman";
    margin-bottom: 10px;
    transition: 0.4s;
}

.pergunta-conta button:hover{
    background-color: #4ADC7C;
    transition: 0.4s;
    color: #151D26;
    cursor: pointer;
}

.pergunta-conta a {
    text-decoration: none;
    color: #4ADC7C;
}

.pergunta-conta {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #AAF8AD;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.antecipe-ataques {
    font-family: 'Goldman';
    font-size: 32px;
    line-height: 50px;
    text-align: left;
    color: #FFF;
    margin-top: 8.25vh;
    margin-left: 5vw;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 12vh;
    color: #FFF;
    gap: 70px;
    align-items: center;
}

.cards .cards-1F {
    height: 500px;
    width: 350px;
    background-color: #151D26;
    border-radius: 40px;
    padding-top: 35px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.5s;
}

.blur-background {
    filter: blur(5px);
    transition: filter 0.3s;
}

.popup {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(-50px);
    margin: auto;
    width: 700px;
    height: 500px;
    padding: 25px;
    border: solid 2px #4ADC7C;
    border-radius: 30px;
    background: #151D26;
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 25px;
    -webkit-box-shadow: 32px 24px 42px 6px rgba(74, 220, 124, 1);
    -moz-box-shadow: 32px 24px 42px 6px rgba(74, 220, 124, 1);
    box-shadow: 32px 24px 42px 6px rgba(74, 220, 124, 1);
}

.popup.show {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
}

.blur-background {
    filter: blur(5px);
}

.popup .texto-popup {
    font-size: 23px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup-superior {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.popup-superior .titulo-1F {
    width: 70%;
}


.popup .fechar {
    font-size: 35px;
    display: flex;
    justify-content: end;
    width: 30%;
    font-family: 'Nerko One';
    color: #4ADC7C;
    align-items: center;
}

.popup .fechar p {
    transition: 0.2s;
}

.popup .fechar p:hover {
    cursor: pointer;
    font-size: 40px;
    color: red;
}

#popup-sobrenos,
#popup-servicos,
#popup-comofunciona {
    display: none;
}

#texto-popup-servicos, #texto-popup-comoFunciona {
    width: 100%;
    height: 100%;
    padding-bottom: 30%;
}


.cards-1F:hover {
    border: #fff 2px solid;
    transform: scale(1.05);
    transition: all 0.5s;
}

.titulo-1F {
    font-family: 'Goldman';
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    color: #fff;
}

.paragrafo-1F {
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 32px;
    color: #AAF8AD;
    height: 100%;
    margin-top: 10%;
}

.botoes {
    display: flex;
    justify-content: space-between;
    gap:6%;
}

.botoes-1F,
.titulo-direcionar-plano button {
    height: 42px;
    width: 100%;
    max-width: 170px;
    background-color: transparent;
    border: #4ADC7C 1px solid;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    align-items: center;
    color: #4ADC7C;
    border-radius: 5px;
}

.titulo-direcionar-plano button {
    margin-top: 3%;
}

.botoes-1F:hover,
.titulo-direcionar-plano button:hover {
    background-color: #4ADC7C;
    color: #151D26;
    transition: 0.4s;
    cursor: pointer;
}

.titulo-direcionar-plano {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 5%;
    margin-top: 100px;
}

.titulo-direcionar-plano p {
    font-family: 'Goldman';
    font-size: 32px;
    line-height: 50px;
    text-align: center;
    color: #FFF;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #14272B;
    color: #FFF;
    font-family: 'Goldman';
    font-weight: 400;
    font-size: 16px;
    margin-top: 100px;
    z-index: 20;
}

.circulo {
    width: 50%;
    z-index: -20;
    animation: circulo 1s infinite;
    position: absolute;
    margin-top: -50%;
    margin-left: -20%;
}

@keyframes circulo {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

#contato {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: 5%;
}

#contato h1 {
    display: flex;
    justify-content: center;
    color: #FFF;
    font-family: "Goldman";
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.inputForm{
    height: 50px;
    width: 250px;
    margin-bottom: 20px;
    background: none;
    border: none;
    border-bottom: #4ADC7C solid;
    color: #AAF8AD;

    padding: 15px;
    font-family: "Roboto";
    font-size: 16px;
    outline: none;
}

.inputTextArea{
    height: 200px;
    width: 500px;
    margin-top: 20px;
    background: none;
    border: none;
    border: #4ADC7C solid;
    color: #AAF8AD;

    padding: 15px;
    font-family: "Roboto";
    font-size: 16px;
    outline: none;
}

form .botoes-1F {
    margin-top: 3%;
}
/*Tablet */

@media screen and (max-width: 900px) {

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .circulo {
        width: 70%;
        z-index: -20;
        animation: circulo 1s infinite;
        position: absolute;
        margin-top: -180%;
        margin-left: -35%;
    }

    body {
        background: rgb(48, 117, 131);
        background: radial-gradient(circle at 80% center, rgba(46, 91, 101, 1) 0%, rgba(13, 20, 28, 1) 62%);
    }

    .navbar {
        padding-bottom: 1%;
        margin-top: 0px;
        object-fit: fill;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
    }

    .navbar::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(to right, #117701, #4ADC81);
        background-size: 200% 100%;
        animation: color-change 4s linear infinite;
    }

    @keyframes color-change {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: -100% 50%;
        }
    }

    .popup {
        opacity: 0;
        transform: translateY(-50px);
        transition: opacity 0.5s ease, transform 0.5s ease;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) translateY(-50px);
        margin: auto;
        width: 85%;
        height: 460px;
        padding: 25px;
        border: solid 2px #4ADC7C;
        border-radius: 30px;
        background: #151D26;
        display: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        -webkit-box-shadow: 32px 24px 42px 6px rgba(74, 220, 124, 1);
        -moz-box-shadow: 32px 24px 42px 6px rgba(74, 220, 124, 1);
        box-shadow: 32px 24px 42px 6px rgba(74, 220, 124, 1);
    }
    
    .popup.show {
        opacity: 1;
        transform: translate(-50%, -50%) translateY(0);
    }

    .popup .texto-popup {
        font-size: 22px;
        color: #fff;
        font-family: 'Goldman';
        font-weight: 400;
        height: 100%;
        width: 90%;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        object-fit: fill;
        padding-bottom: 30%;
    }

    .popup .fechar {
        font-size: 35px;
        display: flex;
        width: 100%;
        font-family: 'Nerko One';
        color: #4ADC7C;
        height: 10%;
        align-items: center;
    }

    .popup .fechar p {
        transition: 0.2s;
    }

    .popup .fechar p:hover {
        cursor: pointer;
        font-size: 40px;
        color: red;
    }

    .navbar-textos {
        display: none;
    }

    .texto-login {
        margin-top: 2%;
        margin-right: 4.0vw;
        display: flex;
        text-align: center;
        flex-direction: row;
        justify-content: center;
    }

    .login p {
        display: none;
    }

    .pergunta-conta button {
        background-color: transparent;
        font-family: 'Roboto', sans-serif;
        border: #4ADC7C 1.5px solid;
        width: 170px;
        height: 42px;
        border-radius: 8px;
        font-size: 16px;
        color: #4ADC7C;
        align-items: center;
        font-weight: 700;
    }

    .pergunta-conta button{
        background-color: transparent;
        border: 2px solid #4ADC7C;
        color: #4ADC7C;
        border-radius: 5px;
        height: 44.8px;
        width: 130px;
        cursor: pointer;
        font-family: "Goldman";
        margin-bottom: 10px;
        transition: 0.4s;
    }

    .antecipe-ataques {
        object-fit: fill;
        font-family: 'Goldman';
        font-size: 26px;
        font-weight: 400;
        line-height: 48px;
        text-align: start;
        color: #FFF;
        margin-top: 8%;
        margin-left: 9.6vw;
        width: 80%;
    }

    .cards {
        margin-top: 9%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #FFF;
        align-items: center;
    }

    .cards .cards-1F,
    .cards .cardsSemBotao {
        height: 480px;
        width: 450px;
        background-color: #151D26;
        border-radius: 40px;
        padding-top: 25px;
        padding-left: 22px;
        padding-right: 22px;
        padding-bottom: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-evenly;
    }

    .cards-1F:hover,
    .cardsSemBotao:hover {
        border: #fff 2px solid;
        transform: scale(1.05);
        transition: all 0.5s;
    }

    .titulo-1F {
        font-family: 'Goldman';
        font-weight: 400;
        font-size: 30px;
        line-height: 24px;
        color: #fff;
    }

    .paragrafo-1F {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;
        color: #AAF8AD;
    }

    .botoes {
        display: flex;
        justify-content: space-evenly;
    }

    .botoes-1F {
        height: 42px;
        width: 100%;
        max-width: 100px;
        background-color: transparent;
        border: #4ADC7C 1px solid;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 700;
        align-items: center;
        color: #4ADC7C;
        border-radius: 10px;
    }

    .botoes-1F:hover {
        background-color: #4ADC7C;
        color: #FFF;
        cursor: pointer;
    }

    footer {
        display: flex;
        align-items: center;
        height: 80px;
        background-color: #14272B;
        color: #FFF;
        font-family: 'Goldman';
        font-weight: 400;
        font-size: 16px;
    }

    #contato {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding-top: 5%;
    }
    
    #contato h1 {
        display: flex;
        justify-content: center;
        color: #FFF;
        font-family: "Goldman";
    }
    
    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 2%;
    }
    
    .inputForm{
        height: 50px;
        width: 250px;
        margin-bottom: 20px;
        background: none;
        border: none;
        border-bottom: #4ADC7C solid;
        color: #AAF8AD;
    
        padding: 15px;
        font-family: "Roboto";
        font-size: 16px;
        outline: none;
    }
    
    .inputTextArea{
        height: 200px;
        width: 300px;
        margin-top: 20px;
        background: none;
        border: none;
        border: #4ADC7C solid;
        color: #AAF8AD;
    
        padding: 15px;
        font-family: "Roboto";
        font-size: 16px;
        outline: none;
    }
    
    form .botoes-1F {
        margin-top: 3%;
    }
}

/* CELULAR - MOBILE*/

@media screen and (max-width: 700px) {

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .circulo {
        width: 90%;
        z-index: -20;
        animation: circulo 1s infinite;
        position: absolute;
        margin-top: -190%;
        margin-left: -35%;
    }

    body {
        background: rgb(48, 117, 131);
        background: radial-gradient(circle at 80% center, rgba(46, 91, 101, 1) 0%, rgba(13, 20, 28, 1) 62%);
    }

    .navbar {
        padding-bottom: 1%;
        margin-top: 0px;
        object-fit: fill;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
    }

    .navbar::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background: linear-gradient(to right, #117701, #4ADC81);
        background-size: 200% 100%;
        animation: color-change 4s linear infinite;
    }

    @keyframes color-change {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: -100% 50%;
        }
    }

    .popup {
        opacity: 0;
        transform: translateY(-50px);
        transition: opacity 0.5s ease, transform 0.5s ease;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) translateY(-50px);
        margin: auto;
        width: 95%;
        height: auto;
        padding: 25px;
        border: solid 2px #4ADC7C;
        border-radius: 30px;
        background: #151D26;
        display: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        -webkit-box-shadow: 32px 24px 42px 6px rgba(74, 220, 124, 1);
        -moz-box-shadow: 32px 24px 42px 6px rgba(74, 220, 124, 1);
        box-shadow: 32px 24px 42px 6px rgba(74, 220, 124, 1);
    }
    
    .popup.show {
        opacity: 1;
        transform: translate(-50%, -50%) translateY(0);
    }

    .popup .texto-popup {
        font-size: 20px;
        color: #fff;
        font-family: 'Goldman';
        font-weight: 400;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        object-fit: fill;
        /* padding-bottom: 30%; */
        text-align: justify;
    }

    .popup .fechar {
        font-size: 35px;
        display: flex;
        width: 100%;
        font-family: 'Nerko One';
        color: #4ADC7C;
        height: 10%;
        align-items: center;
    }

    .popup .fechar p {
        transition: 0.2s;
    }

    .popup .fechar p:hover {
        cursor: pointer;
        font-size: 40px;
        color: red;
    }

    #texto-popup-servicos, #texto-popup-comoFunciona {
        width: 100%;
        height: 100%;
        padding-bottom: 30%;
    }

    #popupServicos, #popupComoFunciona {
        height: 80%;
    }

    .navbar-textos {
        display: none;
    }

    .texto-login {
        margin-top: 2%;
        margin-right: 4.0vw;
        display: flex;
        text-align: center;
        flex-direction: row;
        justify-content: center;
    }

    .login p {
        display: none;
    }

    .pergunta-conta button {
        background-color: transparent;
        font-family: 'Roboto', sans-serif;
        border: #4ADC7C 1.5px solid;
        width: 170px;
        height: 42px;
        border-radius: 8px;
        font-size: 16px;
        color: #4ADC7C;
        align-items: center;
        font-weight: 700;
    }

    .pergunta-conta button{
        background-color: transparent;
        border: 2px solid #4ADC7C;
        color: #4ADC7C;
        border-radius: 5px;
        height: 44.8px;
        width: 130px;
        cursor: pointer;
        font-family: "Goldman";
        margin-bottom: 10px;
        transition: 0.4s;
    }

    .antecipe-ataques {
        object-fit: fill;
        font-family: 'Goldman';
        font-size: 26px;
        font-weight: 400;
        line-height: 48px;
        text-align: start;
        color: #FFF;
        margin-top: 8%;
        margin-left: 9.6vw;
        width: 80%;
    }

    .cards {
        margin-top: 9%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #FFF;
        align-items: center;
    }

    .cards .cards-1F,
    .cards .cardsSemBotao {
        height: 470px;
        width: 300px;
        background-color: #151D26;
        border-radius: 40px;
        padding-top: 25px;
        padding-left: 22px;
        padding-right: 22px;
        padding-bottom: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-content: space-evenly;
    }

    .cards-1F:hover,
    .cardsSemBotao:hover {
        border: #fff 2px solid;
        transform: scale(1.05);
        transition: all 0.5s;
    }

    .titulo-1F {
        font-family: 'Goldman';
        font-weight: 400;
        font-size: 22px;
        line-height: 20px;
        color: #fff;
    }

    .paragrafo-1F {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 17px;
        line-height: 32px;
        color: #AAF8AD;
    }

    .botoes {
        display: flex;
        justify-content: space-evenly;
    }

    .botoes-1F {
        height: 42px;
        width: 100%;
        max-width: 100px;
        background-color: transparent;
        border: #4ADC7C 1px solid;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 700;
        align-items: center;
        color: #4ADC7C;
        border-radius: 10px;
    }

    
    .botoes-1F:hover {
        background-color: #4ADC7C;
        color: #FFF;
        cursor: pointer;
    }

    footer {
        display: flex;
        align-items: center;
        height: 80px;
        background-color: #14272B;
        color: #FFF;
        font-family: 'Goldman';
        font-weight: 400;
        font-size: 16px;
    }

    #contato {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding-top: 5%;
    }
    
    #contato h1 {
        display: flex;
        justify-content: center;
        color: #FFF;
        font-family: "Goldman";
    }
    
    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 2%;
    }
    
    .inputForm{
        height: 50px;
        width: 250px;
        margin-bottom: 20px;
        background: none;
        border: none;
        border-bottom: #4ADC7C solid;
        color: #AAF8AD;
    
        padding: 15px;
        font-family: "Roboto";
        font-size: 16px;
        outline: none;
    }
    
    .inputTextArea{
        height: 200px;
        width: 300px;
        margin-top: 20px;
        background: none;
        border: none;
        border: #4ADC7C solid;
        color: #AAF8AD;
    
        padding: 15px;
        font-family: "Roboto";
        font-size: 16px;
        outline: none;
    }
    
    form .botoes-1F {
        margin-top: 3%;
    }
}