@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Nerko+One&display=swap');

* {
    padding: 0;
}

p {
    margin: 15px;
}

body {
    background-color: #1f2a3c;
}

.suporte {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    color: white;
}

.firsts-holders{
    padding-left: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}

.infos-nome {
    width: 220px;
    height: 50px;
    border-radius: 15px;
    background-color: #D9D9D9;
    color: black;
    padding-left: 20px;
    font-size: 15px;
}

.labels {
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.first-label {
    padding: 20px;
}

.first-label select {
    width: 260px;
    height: 50px;
    border-radius: 15px;
    background-color: #D9D9D9;
    color: black;
    font-size: 15px;
    padding: 10px;
}

.second-label {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-label select {
    width: 260px;
    height: 50px;
    border-radius: 15px;
    background-color: #D9D9D9;
    color: black;
    font-size: 15px;
    padding: 10px;
}


.suporte textarea {
    padding: 20px;
    width: 500px;
    height: 220px;
    border-radius: 15px;
    background-color: #D9D9D9;
    color: black;
    font-size: 15px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;

}

.form-button {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    background-color: #4ADC7C;
    color: #131820;
    font-size: 20px;
    border: 2px solid #000;
    cursor: pointer;
    transition: 0.4s;
}

.form-button:hover{
    transition: 0.4s;
    background-color: azure;
    border: 2px solid #4ADC7C;
}

.texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}